* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.ex-1-square:hover {
    transition: 5s;
    background-color: red;
}

.ex-2-square:active {
    transition: 3s;
    width: 100%;
}

.ex-3-square:hover {
    transition: 1s;
    border-radius: 50%;
}

.ex-4-square:hover {
    transition: 1s;
    background: none;
}

.ex-5-square:hover {
    transition: 1s;
    width: 100px;
    height: 100px;
    margin: 0;
    background: red;
}

.ex-6-img:hover {
    transition: 0.5s;
    filter: grayscale(1);
}

.ex-7-img:hover {
    transition: 0.5s;
    filter: sepia(0.5);
}

.ex-8-img:hover {
    transition: 0.5s;
    filter: sepia(0.5);
    border-radius: 15px;
}

.ex-9-img:hover {
    transition: 2s;
    filter: sepia(0.5);
    border-radius: 15px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: loading 0.8s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: loading-2 2.5s linear;
}

@keyframes loading-2 {
    70% {
        transform: rotate(315deg);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: loading-3 2.5s linear;
}
@keyframes loading-3 {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: loading-4 2.5s linear;
}
@keyframes loading-4 {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: loading-5 2.5s linear;
}
@keyframes loading-5 {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: loading-6 2.5s linear;
}
@keyframes loading-6 {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}